{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Personnage list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Createdat</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Nickname</th>
                <th>Background</th>
                <th>Description</th>
                <th>Publicstory</th>
                <th>Iscompleted</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('personnage_show', { 'id': entity.id }) }}">{{ entity.createdAt }}</a></td>
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.lastname }}</td>
                <td>{{ entity.nickname }}</td>
                <td>{{ entity.background }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.publicStory }}</td>
                <td>{{ entity.isCompleted }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('personnage_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('personnage_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('personnage_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
